In [2]:
import pandas as pd
import numpy as np
import datetime

In [3]:
eq_major=pd.read_csv("Major EarthQuakes in Greece.csv")
eq_major.head()

,Year,Month,Date,Hours,Minutes,LATATITUDE (N),LONGITUDE (E),MAGNITUDE (Richter)
0,1901,12,24,23,18,37.2,22.2,5.8
1,1901,9,12,6,15,39.0,22.2,5.6
2,1901,10,25,16,18,37.0,22.2,5.4
3,1902,7,5,14,56,40.8,23.2,6.6
4,1902,4,11,18,35,38.5,23.5,5.8

In [4]:
eq_major_date=eq_major.copy()

In [5]:
eq_major_date.rename({'Date':'Day'}, axis=1, inplace=True)
eq_major_date['Date']=pd.to_datetime(eq_major_date[['Year','Month','Day']])

In [6]:
eq_major_date['Date_Time']=pd.to_datetime(eq_major_date[['Day','Month','Year','Hours','Minutes']])
eq_major_date['Time']=eq_major_date['Date_Time'].dt.time

In [7]:
eq_major_date

,Year,Month,Day,Hours,Minutes,LATATITUDE (N),LONGITUDE (E),MAGNITUDE (Richter),Date,Date_Time,Time
0,1901,12,24,23,18,37.20,22.20,5.8,1901-12-24,1901-12-24 23:18:00,23:18:00
1,1901,9,12,6,15,39.00,22.20,5.6,1901-09-12,1901-09-12 06:15:00,06:15:00
2,1901,10,25,16,18,37.00,22.20,5.4,1901-10-25,1901-10-25 16:18:00,16:18:00
3,1902,7,5,14,56,40.80,23.20,6.6,1902-07-05,1902-07-05 14:56:00,14:56:00
4,1902,4,11,18,35,38.50,23.50,5.8,1902-04-11,1902-04-11 18:35:00,18:35:00
...,...,...,...,...,...,...,...,...,...,...,...
1168,2017,5,17,11,30,36.03,27.49,5.1,2017-05-17,2017-05-17 11:30:00,11:30:00
1169,2017,8,8,7,42,37.03,27.61,5.1,2017-08-08,2017-08-08 07:42:00,07:42:00
1170,2017,9,1,16,48,36.00,28.00,5.1,2017-09-01,2017-09-01 16:48:00,16:48:00
1171,2017,2,6,3,51,39.51,26.10,5.0,2017-02-06,2017-02-06 03:51:00,03:51:00
1172,2017,10,11,22,49,39.11,24.23,5.0,2017-10-11,2017-10-11 22:49:00,22:49:00

In [9]:
eq_major_date['Year'].value_counts()

1953    59
1948    28
1957    25
1954    25
1959    23
        ..
1974     2
1913     2
1991     2
1971     1
1907     1
Name: Year, Length: 117, dtype: int64

In [10]:
len(eq_major_date['Month'].value_counts())

12

In [11]:
len(eq_major_date['Day'].value_counts())

31

In [12]:
len(eq_major_date['Hours'].value_counts())

24

In [13]:
len(eq_major_date['Minutes'].value_counts())

60

In [14]:
eq_major_date['MAGNITUDE (Richter)'].value_counts()

5.0    228
5.1    176
5.2    151
5.3     98
5.4     95
5.5     93
5.6     60
5.7     49
5.8     45
6.0     32
6.1     29
6.2     19
5.9     17
6.4     11
6.5     11
6.3     10
7.0     10
6.6     10
6.7      6
6.8      5
7.1      5
7.4      3
7.3      3
6.9      3
7.2      2
7.8      1
8.0      1
Name: MAGNITUDE (Richter), dtype: int64

In [15]:
#could produce another df with those vaule ocouts things to do a heatmap and show, how often every magnitude occurs zb

In [16]:
eq_major_date['Date_Time'].value_counts().sum()

1173

In [17]:
eq_major_date.shape[0]

1173

In [18]:
#whoop whoop no duplicates, so i use it as index