## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [20]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [23]:
# Your code here
sample_list_1=random.sample(range(100),80)
print(sample_list_1)

[2, 35, 1, 43, 75, 94, 38, 54, 7, 98, 9, 81, 40, 37, 52, 71, 13, 63, 66, 93, 60, 53, 57, 4, 59, 27, 97, 17, 58, 5, 26, 56, 50, 64, 84, 22, 68, 15, 16, 51, 48, 14, 79, 85, 83, 74, 34, 10, 80, 47, 92, 90, 21, 25, 31, 29, 67, 82, 73, 70, 0, 39, 88, 8, 41, 33, 24, 86, 20, 77, 30, 32, 42, 12, 11, 76, 62, 89, 69, 95]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [28]:
# Your code here
set1=set(sample_list_1)
print(len(set1), 'Yes, the length stays the same, because the values were unique.')

80 Yes, the length stays the same, because the values were unique.

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [48]:
# Your code here
#sample_list_2=[random.sample(range(100),1) for a in range(0,80)] #was not really good, 
#because it contained 80 lists in a list
sample_list_2=[random.randint(1,100) for a in range(0,80)]
print(sample_list_2)

[24, 12, 34, 3, 97, 15, 58, 89, 76, 84, 2, 69, 39, 88, 52, 97, 53, 90, 28, 5, 55, 47, 15, 40, 84, 79, 28, 14, 46, 74, 53, 88, 65, 99, 52, 50, 23, 23, 58, 29, 76, 69, 39, 24, 59, 18, 96, 88, 32, 60, 28, 39, 35, 11, 25, 35, 99, 9, 80, 99, 46, 47, 75, 78, 4, 76, 97, 48, 89, 86, 40, 53, 32, 23, 13, 97, 50, 33, 28, 65]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [49]:
# Your code here
set2=set(sample_list_2)
print(len(set2), 'No, because the elements were not random and could appear more than once.')

48

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [72]:
# Your code here

#set3=set{element in set1 and not in set2}
set3=set()
for item in set1:
    if(item not in set2):
        set3.add(item)
print(set3)

{0, 1, 7, 8, 10, 16, 17, 20, 21, 22, 26, 27, 30, 31, 37, 38, 41, 42, 43, 51, 54, 56, 57, 62, 63, 64, 66, 67, 68, 70, 71, 73, 77, 81, 82, 83, 85, 92, 93, 94, 95, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [71]:
# Your code here
set4=set()
for item in set2:
    if item not in set1:
        set4.add(item)
print(set4)

{96, 65, 3, 99, 46, 78, 18, 55, 23, 28}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [73]:
# Your code here
set5=set()
for item in set2:
    if item in set1:
        set5.add(item)
print(set5)

{2, 4, 5, 9, 11, 12, 13, 14, 15, 24, 25, 29, 32, 33, 34, 35, 39, 40, 47, 48, 50, 52, 53, 58, 59, 60, 69, 74, 75, 76, 79, 80, 84, 86, 88, 89, 90, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [81]:
# Your code here
print(len(set1), len(set2), len(set3), len(set4), len(set5))
print(len(set1)+len(set2)-len(set5) == len(set3)+len(set4)+len(set5))

80 48 42 10 38
True

#### Create an empty set called `set6`.

In [85]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [91]:
# Your code here
set6.update(set3,set5)
#set6.update([set3,set5]) #that's the way it was explained in W3schools (didnot work)

#### Check if `set1` and `set6` are equal.

In [90]:
# Your code here
print(set1==set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [95]:
# Your code here
#memo an mich: das wovon es ein subset sein sol, kommt IN die klammern, mit dem fraglichen subset wird aufgerufen
print(set2.issubset(set1))
print(set3.issubset(set1))

#why is there a star?

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [97]:
print(set3.union(set4,set5)==set1.union(set2))

True

#### Using the `pop` method, remove the first element from `set1`.

In [115]:
# Your code here
set1.pop()

0

In [114]:
bla={3,2,3}
bla.pop()
#komische Funktion!

2

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [122]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for element in list_to_remove:
    if(element in set1): #this is necessary, otherwise it doesnot compile
        set1.remove(element)
print(set1)

{2, 4, 5, 7, 8, 10, 12, 13, 14, 15, 16, 17, 20, 22, 24, 25, 26, 27, 30, 32, 33, 34, 35, 37, 38, 40, 42, 43, 47, 48, 50, 52, 53, 54, 56, 57, 58, 60, 62, 63, 64, 66, 67, 68, 70, 73, 74, 75, 76, 77, 80, 82, 83, 84, 85, 86, 88, 90, 92, 93, 94, 95, 97, 98}